[env]
_.python.venv = { path = "{{env.HOME}}/.cache/venv/ansible", create = true}

[tools]
python = "3.13"

[tasks.install]
description = "Install dependencies"
alias = "i"
run = "pip install -r requirements.txt"

[tasks."template:sync"]
description = "Sync changes from upstream template"
run = '''
#!/usr/bin/env bash

tmp_dir=$(mktemp -d)
template_repo=$(gh repo view --json templateRepository --jq '.templateRepository | "git@github.com:\(.owner.login)/\(.name).git"')
git clone ${template_repo} ${tmp_dir}
if [[ "$(sha256sum ${tmp_dir}/mise.toml | awk '{print $1}')" != "$(sha256sum mise.toml | awk '{print $1}')" ]]; then
  echo "mise.toml has updates. Copying updates and relaunching sync..."
  cp -v "${tmp_dir}/mise.toml" .
  rm -rf "${tmp_dir}"
  mise template:sync
  exit 0
fi

rsync -av --include-from="${tmp_dir}/.templatesyncinclude "${tmp_dir}/" .
mv -v .github/templates/*.yml .github/workflows
rmdir -v .github/templates
rm -rf "${tmp_dir}"
'''
