---

on:
  workflow_call:
    inputs:
      image_tag:
        description: "The image tag to publish"
        required: true
        type: string

  jobs:
    build-image:
      runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          username: "${{ secrets.REGISTRY_USER }}"
          password: "${{ secrets.REGISTRY_PASS }}"

      - name: Build and push ${{ inputs.image_name}}
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          push: true
          pull: true
          tags: "petracvv/homelab-centos-stream-bootc:${{ input.image_tag }}"
