---

on:
  workflow_dispatch:

jobs:
  sync-upstream:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Sync files from template
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: petracvv-homelab/homelab-template
          is_allow_hooks: true
          is_dry_run: false
          pr_title: Update from homelab-template
          source_gh_token: ${{ secrets.SYNC_PAT }}
          target_gh_token: ${{ secrets.SYNC_PAT }}
          hooks: >
            precommit:
              commands:
                - find .github/workflows -name 'shared*' -exec rm -v {} \;
                - find .github/templates -name '*.yml' -exec mv -v {} .github/workflows/ \;


